<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>https://ypsdev.azurewebsites.net/</key>
		<dict>
			<key>NSIncludesSubdomains</key>
			<true/>
			<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
			<true/>
			<key>NSTemporaryExceptionMinimumTLSVersion</key>
			<string>TLSv1.1</string>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>aps-environment</key>
	<string>production</string>
	<key>MinimumOSVersion</key>
	<string>10.0</string>
	<key>CFBundleDisplayName</key>
	<string>Parts2y WS</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>Parts2y</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>UIAppFonts</key>
	<array>
		<string>fontawesome.ttf</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app needs access to microphone in future.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Needs Calendar Permission</string>
	<key>NSCameraUsageDescription</key>
	<string>This allows us to use Camera to take photos, upload in the chatting conversation to provide the status of the shipping information.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This allows us to access your camera roll to upload files and photos to provide the information about Invoice and Packing List.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This allows us to access your camera roll to upload  your photos in the chatting conversation to provide the status of the shipping information.</string>
	<key>NSHomeKitUsageDescription</key>
	<string>This app needs access to the permission in future</string>
	<key>CFBundleShortVersionString</key>
	<string>1</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIMainStoryboardFile</key>
	<string>LaunchScreen</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>To search contrys</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app needs access to the Location in future</string>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>CFBundleIdentifier</key>
	<string>com.synergies.ypsapp</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcons.appiconset</string>
	<key>CFBundleVersion</key>
	<string>3.15</string>
</dict>
</plist>
